@theme {
  --color-light-primary: #2e628c;
  --color-light-surface-tint: #2e628c;
  --color-light-on-primary: #ffffff;
  --color-light-primary-container: #cee5ff;
  --color-light-on-primary-container: #0d4a73;
  --color-light-secondary: #51606f;
  --color-light-on-secondary: #ffffff;
  --color-light-secondary-container: #d5e4f7;
  --color-light-on-secondary-container: #3a4857;
  --color-light-tertiary: #68587a;
  --color-light-on-tertiary: #ffffff;
  --color-light-tertiary-container: #eedbff;
  --color-light-on-tertiary-container: #4f4061;
  --color-light-error: #ba1a1a;
  --color-light-on-error: #ffffff;
  --color-light-error-container: #ffdad6;
  --color-light-on-error-container: #93000a;
  --color-light-background: #f7f9ff;
  --color-light-on-background: #181c20;
  --color-light-surface: #f7f9ff;
  --color-light-on-surface: #181c20;
  --color-light-surface-variant: #dee3eb;
  --color-light-on-surface-variant: #42474e;
  --color-light-outline: #72777f;
  --color-light-outline-variant: #c2c7cf;
  --color-light-shadow: #000000;
  --color-light-scrim: #000000;
  --color-light-inverse-surface: #2d3135;
  --color-light-inverse-on-surface: #eef1f6;
  --color-light-inverse-primary: #9bcbfa;
  --color-light-primary-fixed: #cee5ff;
  --color-light-on-primary-fixed: #001d32;
  --color-light-primary-fixed-dim: #9bcbfa;
  --color-light-on-primary-fixed-variant: #0d4a73;
  --color-light-secondary: #51606f;
  --color-light-on-secondary-fixed: #0e1d2a;
  --color-light-secondary-fixed-dim: #b9c8da;
  --color-light-on-secondary-fixed-variant: #3a4857;
  --color-light-tertiary-fixed: #eedbff;
  --color-light-on-tertiary-fixed: #231533;
  --color-light-tertiary-fixed-dim: #d3bfe6;
  --color-light-on-tertiary-fixed-variant: #4f4061;
  --color-light-surface-dim: #d8dae0;
  --color-light-surface-bright: #f7f9ff;
  --color-light-surface-container-lowest: #ffffff;
  --color-light-surface-container-low: #f1f3f9;
  --color-light-surface-container: #eceef3;
  --color-light-surface-container-high: #e6e8ee;
  --color-light-surface-container-highest: #e0e2e8;
  --color-dark-primary: #9bcbfa;
  --color-dark-surface-tint: #9bcbfa;
  --color-dark-on-primary: #003353;
  --color-dark-primary-container: #0d4a73;
  --color-dark-on-primary-container: #cee5ff;
  --color-dark-secondary: #b9c8da;
  --color-dark-on-secondary: #233240;
  --color-dark-secondary-container: #3a4857;
  --color-dark-on-secondary-container: #d5e4f7;
  --color-dark-tertiary: #d3bfe6;
  --color-dark-on-tertiary: #382a49;
  --color-dark-tertiary-container: #4f4061;
  --color-dark-on-tertiary-container: #eedbff;
  --color-dark-error: #ffb4ab;
  --color-dark-on-error: #690005;
  --color-dark-error-container: #93000a;
  --color-dark-on-error-container: #ffdad6;
  --color-dark-background: #101418;
  --color-dark-on-background: #e0e2e8;
  --color-dark-surface: #101418;
  --color-dark-on-surface: #e0e2e8;
  --color-dark-surface-variant: #42474e;
  --color-dark-on-surface-variant: #c2c7cf;
  --color-dark-outline: #8c9198;
  --color-dark-outline-variant: #42474e;
  --color-dark-shadow: #000000;
  --color-dark-scrim: #000000;
  --color-dark-inverse-surface: #e0e2e8;
  --color-dark-inverse-on-surface: #2d3135;
  --color-dark-inverse-primary: #2e628c;
  --color-dark-primary-fixed: #cee5ff;
  --color-dark-on-primary-fixed: #001d32;
  --color-dark-primary-fixed-dim: #9bcbfa;
  --color-dark-on-primary-fixed-variant: #0d4a73;
  --color-dark-secondary: #b9c8da;
  --color-dark-on-secondary-fixed: #0e1d2a;
  --color-dark-secondary-fixed-dim: #b9c8da;
  --color-dark-on-secondary-fixed-variant: #3a4857;
  --color-dark-tertiary-fixed: #eedbff;
  --color-dark-on-tertiary-fixed: #231533;
  --color-dark-tertiary-fixed-dim: #d3bfe6;
  --color-dark-on-tertiary-fixed-variant: #4f4061;
  --color-dark-surface-dim: #101418;
  --color-dark-surface-bright: #36393e;
  --color-dark-surface-container-lowest: #0b0f12;
  --color-dark-surface-container-low: #181c20;
  --color-dark-surface-container: #1c2024;
  --color-dark-surface-container-high: #272a2f;
  --color-dark-surface-container-highest: #323539;
  --color-light-link: var(--color-blue-700);
  --color-dark-link: var(--color-blue-300);
  --color-light-form: var(--color-light-surface-container-lowest);
  --color-light-on-form: var(--color-dark-surface-container-lowest);
  --color-dark-form: var(--color-light-on-surface);
  --color-dark-on-form: var(--color-dark-on-surface);
}
